.list {
    font-size: large;
    padding-left: .4rem;
    transition: all .1s;
}

.list div {
    height: 2.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list:hover {
    background-color: #565656;
}

.delete-list {
    transition: all .2s;
    opacity: 0;
    width: 2.3rem;
}

.visible{
    opacity: .7 !important;
}
.input-list{
    width: 100%;
    margin-top: .2rem;
    padding: .4rem;
    border-radius: .2rem;
}
.error-message{
    color: rgb(255, 160, 160);
}
.cancel-message{
    font-size: small;
    color: rgb(220, 255, 220);
}