body{
    background-color: #292929;
    color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
}
#root{
    display: flex;
    gap: 4rem;
}
ul{
    list-style-type: none;
    padding: 0;
}
button{
    border: none;
    color: white;
    background: none;
}
input{
    all: unset;
    border: solid rgb(188, 188, 188);
}
.side-bar{
    width: 20%;
}
.todo-ui{
    flex: 1;
    margin-right: 5rem;
}
.new-list{
    width: 60px;
    display: block;
    margin: auto;
}
.new-list svg{
    transition: all .2s;
    & path{
        transition: all .2s;
    }
    &:hover{
        translate: 0 -.2rem;
        & path{
            color: #cbcbcb;
        }
    }
}
.fade-in{
    animation: fade-in .3s;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}