:root {
  --slide-height: 30%;
}

.completed-tasks {
  overflow: auto;
  transition: all 0.2s;
  &.slide-out {
    height: 0;
    min-height: 0;
    overflow: hidden;
  }
  &.slide-in {
    height: var(--slide-height);
    min-height: var(--slide-height);
  }
  &::-webkit-scrollbar {
    width: 2px;
    background-color: rgb(126, 126, 126);
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

.completed-tasks-button {
  transition: all 0.2s;
  width: 9rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: solid;
  border-radius: 0.4rem;
  &:hover {
    color: black;
    background-color: #dddddd;
  }
}
.clear-button {
  background-color: #ff5454;
  transition: all 0.2s;
  width: 4rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  &:hover {
    background-color: #ff5454bf;
  }
}
