:root {
  --slide-height: 30%;
}

.completed-tasks {
  overflow: auto;
  transition: all 0.4s;
  &.slide-out {
    height: 0;
    min-height: 0;
    overflow: hidden;
  }
  &.slide-in {
    height: var(--slide-height);
    min-height: var(--slide-height);
  }
  &::-webkit-scrollbar {
    width: 2px;
    background-color: rgb(126, 126, 126);
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

@keyframes slide-in {
  0% {
    height: 0;
    overflow: hidden;
  }
  50% {
    height: var(--slide-height);
  }
  100% {
    overflow: auto;
  }
}
@keyframes slide-out {
  from {
    height: var(--slide-height);
  }
  to {
    height: 0;
  }
}
