.new-task-input {
  width: 100%;
  color: black;
  background-color: #bcffc0;
  margin-bottom: 0.7rem;
  padding: 0.7rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  transition: all 0.2s;
  box-sizing: border-box;
  &:hover {
    opacity: 0.9;
  }
  &:hover .complete-button svg {
    color: white;
  }
}
